<div class="d-flex align-items-center justify-content-center">
<h1>Ergonomics in Chairs</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <h2>Chair Necessities:</h2>
    <ul>
        <li>Adjustable height for comfort and usability with most surfaces.</li>
        <li>Considerations of width and depth of seat to handle long or short time of use.</li>
        <li>Backrest included for natural back support with changable height and angle.</li>
        <li>Padding offers comfortable seating for long periods of time.</li>
    </ul>
</div>