<% @title = "Desks" %>
<div class="d-flex align-items-center justify-content-center">
    <h1>Ergonomics in Desks</h1>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h3>Important points on desk ergonomics</h2>
        <ul>
            <li>Desk height</li>
            <li>Desk setup</li>
            <li>Desktop layout</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Desk height</h4>
        <ul>
            <li>A desk with an adjustable height is preferable.</li>
            <li>Position the desk at a height where your elbows are bent at 100-110 degrees.</li>
            <li>Your arms should be at your sides.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Desk setup</h4>
        <ul>
            <li>There should be enough room below the desk for your legs, with your feet flat on the ground or on a footrest. For more details, see our <%= link_to "chairs section", chair_path, class: "link-dark" %>.</li>
            <li>If your desk has a hard edge, use some kind of padding on the edge.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Desk layout</h4>
        <ul>
            <li>There should be enough space on your desk for the things you need. This may include a keyboard, mouse, telephone, monitor, etc.</li>
            <li>Try to keep objects on your desk within reach.</li>
            <li>The keyboard and mouse should be within easy reach. For office use, your keyboard should be placed directly in front of you.</li>
            <li>Keep the mouse close to the keyboard to avoid overreaching.</li>
        </ul>
    </section>
</div>
</div>