<% @title = "Desks" %>
<div class="d-flex align-items-center justify-content-center">
    <h1>Ergonomics in Desks</h1>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h2>Important points on desk ergonomics</h2>
        <ul>
            <li>Desk height</li>
            <li>Desk setup</li>
            <li>Desktop layout</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Desk height</h4>
        <ul>
            <li>A desk with an adjustable height is preferable.</li>
            <li>Position the desk at a height where your elbows are bent at 100-110 degrees.</li>
            <li>Your arms should be at your sides.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Desk setup</h4>
        <ul>
            <li>There should be enough room below the desk for your legs, with your feet flat on the ground or on a footrest. For more details, see our <%= link_to "chairs section", chair_path, class: "link-dark" %>.</li>
            <li>If your desk has a hard edge, use some kind of padding on the edge.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Desk layout</h4>
        <ul>
            <li>There should be enough space on your desk for the things you need. This may include a keyboard, mouse, telephone, monitor, etc.</li>
            <li>Try to keep objects on your desk within reach.</li>
            <li>The keyboard and mouse should be within easy reach. For office use, your keyboard should be placed directly in front of you.</li>
            <li>Keep the mouse close to the keyboard to avoid overreaching.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Choosing a desk</h4>
        <p>Keeping ergonomics in mind is important when choosing a desk, but personal requirements are most important. Personal requirements could be desk size, keyboard tray, shelf, desk hooks, etc.</p>
    </section>
</div>

<div class="d-flex align-items-center justify-content-center">
    <h2>Recommended Desks</h2>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">  
    <div class="col">
        <div class="card">
        <%= image_tag("desks/fezibo-adjustable-desk.jpg", class: "card-img-top img-fluid", alt: "GreenForest Folding Desk") %>
            <div class="card-body">
            <h5 class="card-title">FEZIBO Adjustable Desk</h5>
                <div class="d-flex flex-row bd-highlight mb-1">
                    <div class="p-2 bd-highlight">
                        <span class="">Pros:</span>
                        <ul class="">      
                            <li><p>Keyboard tray</p></li>
                            <li><p>Height adjustable</p></li>
                            <li><p>Simple assembly</p></li>
                            <li><p>Lockable casters</p></li>
                            <li><p>Desk hooks</p></li>
                        </ul>
                    </div>
                    <div class="p-2 bd-highlight">
                        <span class="">Cons:</span>
                        <ul class="">
                            <li><p>Expensive</p></li>
                        </ul>
                    </div>
                </div>
            <a href="https://www.amazon.com/FEZIBO-Height-Adjustable-Electric-Standing/dp/B08B4KFDC7/ref=sr_1_5?keywords=ergonomic%2Bdesk&qid=1650829425&sr=8-5&th=1" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <%= image_tag("desks/greenforest-folding-desk.jpg", class: "card-img-top img-fluid", alt: "GreenForest Folding Desk") %>
            <div class="card-body">
            <h5 class="card-title">GreenForest Folding Desk</h5>
                <div class="d-flex flex-row bd-highlight mb-1">
                    <div class="p-2 bd-highlight">
                        <span class="">Pros:</span>
                        <ul class="">      
                            <li><p>Has a shelf</p></li>
                            <li><p>Takes up little space</p></li>
                            <li><p>No assemlbly required</p></li>
                            <li><p>Folds</p></li>
                        </ul>
                    </div>
                    <div class="p-2 bd-highlight">
                        <span class="">Cons:</span>
                        <ul class="">
                            <li><p>Small</p></li>
                            <li><p>Not adjustable</p></li>
                            <li><p>No keyboard tray</p></li>
                        </ul>
                    </div>
                </div>
            <a href="https://www.amazon.com/GreenForest-Computer-Assembly-Required-Espresso/dp/B07FD8LX4S?tag=camdenxpsc-20&asc_source=browser&asc_refurl=https%3A%2F%2Fwww.popsci.com%2Freviews%2Fbest-ergonomic-desk&th=1" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
</div>