<div class="d-flex align-items-center justify-content-center">
    <h1>Ergonomics in Keyboards</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <h1>Contoured Keyboards</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul>
        <li>Adjustable slope of keyboard—neutral, positive, or negative</li>
        <li>Padded wrist wrest</li>
        <li>Raised middle to promote neutral wrist position</li>
        <li>Not compatible with a roller mouse.</li>
    </ul>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">  
  <div class="col">
    <div class="card">
      <%= image_tag "/assets/k860.jpg" %>
      <%= image_tag "/assets/images/k860.jpg" %>
      <%= image_tag "/app/assets/images/k860.jpg" %>
      <img src="/app/assets/images/Keyboards/k860.jpg" class="card-img-top" alt="K860">
      <div class="card-body">
      <h5 class="card-title">The Logitech Ergo K860 Keyboard.</h5>
      <div class="d-flex flex-row bd-highlight mb-1">
      <div class="p-2 bd-highlight">
        <span class="">Pros:</span>
        <ul class="">      
            <li><p>Excellent ergonomic design</p></li>
            <li><p>Awesome battery life</p></li>
            <li><p>Wrist rest is second to none</p></li>
        </ul>
      </div>
      <div class="p-2 bd-highlight">
        <span class="">Cons:</span>
        <ul class="">
            <li><p>No backlighting</p></li>
            <li><p>A bit pricey</p></li>
        </ul>
      </div>
     </div>
    <a href="https://www.amazon.com/dp/B07ZWK2TQT?tag=aboutcom02lifewire-20&linkCode=ogi&th=1&psc=1&ascsubtag=4147386%7Cn370a2f259c434a0caf43c29499ef339f21%7CB07ZWK2TQT" class="btn btn-primary">Buy Now</a>
     </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="TARGET URL GOES HERE">
      <img src="URL OF FIRST IMAGE GOES HERE" class="card-img-top" alt="..."
         onmouseover="this.src='URL OF SECOND IMAGE GOES HERE';"
         onmouseout="this.src='URL OF FIRST IMAGE GOES HERE';">
      </a>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">The Microsoft arc </p>
      </div>
    <a href="" class="btn btn-primary"> Buy Now</a>
    </div>
  </div>
</div>


