
<% @title = "About Us" %>
<h1>About us</h1>

<div class="d-flex align-items-center justify-content-left">
    <section>
        <p>We are students at RCTC/WSU in a Web Development class.
        <br>This website is a result of a group project.</p>
    </section>
</div>

<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Who are we</h4>
        <ul>
            <li>Brennhan: Graduating this semester.</li>
            <li>Jordan: Graduating next year.</li>
            <li>Zach: Graduating next year.</li>
            <li>Max: Graduating this semester.</li>
        </ul>
    </section>
</div>

<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Contact info</h4>
        <ul>
            <li>Brennhan's contact info: 123@123.com</li>
            <li>Jordan's contact info: 123@123.com</li>
            <li>Zach's contact info: 123@123.com</li>
            <li>Max's contact info: example@exapmle.com</li>
        </ul>
    </section>
</div>

